body {
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(154, 199, 239);
   font-family: 'Brush Script MT', cursive; 
}
.skzskzoo{
    width:250px;
   height:250px;
}

.skzzaraz{
 width:280px;
   height:280px;
}
